<!DOCTYPE html>
<html>
  <head>
    <title>Facebookclone</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <% flash.each do |key, value| %>
      <%= content_tag(:div, value, class: "#{key}") %>
    <% end %>

    <% if logged_in? %>
      <%= link_to "Profile", user_path(current_user.id),class: 'btn btn-default' %>
      <%= link_to "Logout", session_path(current_user.id), method: :delete,class: 'btn btn-default' %>
      <%= link_to "Index", blogs_path,class: 'btn btn-default' %>
    <% else %>
      <%= link_to "Sign up", new_user_path ,class: 'btn btn-default'%>
      <%= link_to "Login", new_session_path ,class: 'btn btn-default'%>
    <% end %>

    <%= yield %>
    <footer class="footer">
      <div class="bottom section-padding">
			  <div class="container">
				  <div class="row">
					  <div class="col-md-12 text-center">
						  <div class="copyright">
							  <p>© <span>2020</span> <a href="#" class="transition">Facebookclone</a> 2020/2/7〜</p>
						  </div>
					  </div>
				  </div>
			  </div>
		  </div>
    </footer>
  </body>
</html>
